.calculadora {
  margin: 0 auto;
  max-width: 300px;
  border: 5px solid black;
}

.display {
  text-align: center;
  background-color: blue;
}

.numeros {
  background-color: blueviolet;
}
.boton-numero {
  background-color: pink;
  width: 100px;
  border-radius: 100px;
  background-color: red;
}
